body{
	background-color: #FBF2F0;
}

.button{
	margin-top: 5;
	margin-bottom: 5;
	border: none;
	color: white;
	background-color: red;
}

.titulos{
	color: blue;
}

.title{
	background-color: #92a8d1;
	color: 0000;
}

.tabla{
	background-color: green;
	color: #deeaee;
}

input{
	border: none;
	background: #112956;
	color: #deeaee; 
}